@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Oswald:wght@500;600&family=Playfair+Display&family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,300;0,700;1,300&family=Oswald:wght@500;600&family=Playfair+Display&family=Poppins:wght@300&family=Roboto&family=Roboto+Condensed&display=swap');
.flex{
    display: flex;
}

.space-evenly{
    justify-content: space-evenly;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items:center;
}

/* nav bar  */
nav{
    height: 180px;
    width: 100%;
    background-color:#f4c556;
}

.logo2{
    width: 80px;
}

nav>a{
    color:black;
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    }

nav>a:hover{
    color:black;
    font-weight: bold;
    border: 2px solid white;
    background-color:white;
    border-radius: 20px;
    width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}
 
/* header  */

header{
    font-size: larger;
    padding-left: 100px;
    
}
#introduction{
    margin: 90px 0 0 80px;
}

#introduction>h1{
    font-size: 62px;
    font-family: 'Dancing Script', cursive;
}
#introduction>p{
    width: 700px;
    padding-top:30px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

#profile-pic>img{
    position: relative;
    left: 150px;
    top: 30px;
    width: 250px;
    border: 5px solid #f4c556;
    border-radius: 50px;
}

/* Education  */
.education{
    padding: 30px 0;
    margin-top: 100px;
    background-color:#f5ca67;
}

.education>div>h1{
    font-size: 80px;
    margin: 100px 0 0 150px;
    font-family: 'Dancing Script', cursive;

}

.education-text{
    margin-left:-500px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

hr{
    width: 450px;
}

/* projects */

#projects>h1{
    text-align: center;
    padding: 100px 0 0 0;
    font-size: 72px;
    font-family: 'Dancing Script', cursive;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2,350px);
    justify-content: center;
    padding: 50px 0 0 40px;
}

.grid>div{
    padding: 10px;
    border: 4px solid #f4c556;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.grid>div>img{
    width: 350px;
}

.grid>div>button{
    background-color: #f4c556;
    border: 1px solid #f4c556;
    border-radius: 10px;
    height: 30px;
}

.grid>div>button>a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.grid>div>button>a:hover{
    color: white;
}


/* footer  */

footer {
    justify-content: center;
    text-align: center;
    height: 273px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo1{
    width: 100px;
    padding-bottom: 30px;
}

.contact-container {
    margin: 50px 0;
    text-align: center;

}
#contact{
    display: block;
}
.contact-container>div>a {
    text-decoration: none;
    color: black;
    padding:5px;
    margin-top: 60px;
    margin-right: 20px;
}

.contact-container>div>a:hover{
    color: white;
    background-color: #f4c556;

}

@media all and (max-width:480px){

    /* nav  */
    nav{
        font-size: 9px;
        height: 100px;
        justify-content: space-evenly;
    }

    nav>a:hover{
        width: 70px;
        height: 15px;
        padding-top: 0;
    }

    .logo2{
        width: 50px;
    }

    /* header */
    .column{
        flex-direction: column;
    }

    header{
        font-size: medium;
        padding-left: 0;
        margin-left: 0;
        
    }
    #introduction{
        margin: 50px 0 0 30px;
    }
    
    #introduction>h1{
        font-size: 30px;
        font-weight: bold;
    }
    #introduction>p{
        width: 300px;
        font-size: 13px;

    }
    
    #profile-pic>img{
        position: unset;
        width: 250px;
        margin: 10px 0 0 50px;
        border-radius: 10px;

    }

    /* Education  */
    .education{
        margin-top: 70px;
    }

    .education>div>h1{
        font-size: 40px;
        margin: 20px 0 30px 0;
        text-align: center;
    }

    .education-text{
        margin-left:10px;
        margin-top: 10px;
        font-size: 13px;
    }

    hr{
        width: 370px;
    }
    /* projects */

    #projects>h1{
        font-size: 40px;
        margin: 0 0 30px 0;
        text-align: center;

    }
    
    .grid{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: repeat(6,290px);
        padding: 40px 0 0 45px;
    }
    
    .grid>div{
        width: 250px;
        height: 240px;
    }
    
    .grid>div>img{
        width: 250px;
    }
    
    .grid>div>button>a{
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    
    .grid>div>button>a:hover{
        color: white;
    }
    }

    footer{
        .logo1{
            width: 70px;
        }
    }



